body {
  font-family: "Helvetica", Sans-serif;
  font-weight: lighter;
}
a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Helvetica", Sans-serif;
  font-size: 50px;
  font-weight: lighter;
}

img {
  border: 1px solid;
  border-color: white;
  border-radius: 6px;
}
.sub-header {
  padding: 20px;
  font-size: 20px;
}

.website-app {
  padding: 30px 10px;
  margin: 0;
  border: 1px solid;
  border-color: white;
  border-radius: 6px;
}
.web-wrapper {
  margin: 10px auto;
}

.header-links {
  color: rgb(133, 71, 43);
  font-size: 16px;
  padding: 13px 20px;
  text-align: center;
}

.header-links:hover {
  color: #fdc57b;
}

.h1-wrapper {
  background-color: #394a50;
  padding: 200px 40px;
  border: 1px solid;
  border-color: white;
  border-radius: 6px;
}

.sub-header-section {
  color: rgb(133, 71, 43);
  font-size: 50px;
  padding: 30px;
  text-align: center;
}

.sub-header-section-text {
  text-align: left;
}

.team-section {
  text-align: center;
}
