body {
  font-family: "Helvetica", Sans-serif;
  font-weight: lighter;
  background-color: white;
  overflow-x: hidden;
}
main {
  margin: auto;
}
a {
  text-decoration: none;
  color: rgb(133, 71, 43);
  font-size: 18px;
  padding: 20px 20px;
}
a:hover {
  color: #c7b198;
  opacity: 0.5;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Helvetica", Sans-serif;
  font-size: 50px;
  font-weight: lighter;
}

img {
  border: 1px solid;
  border-color: white;
  border-radius: 6px;
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.navigator-buttons-header {
  width: 100%;
  min-height: 70px;
  border: black;
  text-align: right;
}

.navigator-clear-banner {
  background: transparent;
  border-radius: 6px;
  position: fixed;
  padding: 28px 80px 28px 80px;
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.navigator-background {
  width: 100%;
  padding: 40px;
  margin: 0;
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
}

.h1-wrapper {
  background-color: #394a50;
  border: 1px solid;
  border-color: white;
  border-radius: 6px;
  padding: 200px 40px;
  display: block;
}
.sub-header {
  padding: 20px;
  font-size: 20px;
}

.sub-header-section {
  color: rgb(133, 71, 43);
  font-size: 50px;
  padding: 30px;
  text-align: center;
}

.sub-header-section-text {
  text-align: left;
}

img.team-headshot {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
.footer-section-wrapper {
  background-color: #394a50;
  border: 1px solid;
  border-color: transparent;
  padding: 200px 40px;
  display: block;
  color: white;
}

#about,
#team {
  width: 100%;
  height: 1000px;
  text-align: right;
}
#about-section,
#services-section,
#projects-section,
#team-section,
#contact-section {
  width: 100%;
  height: 570px;
  text-align: right;
}
